.hr-top{
	border-color: black;
}

.title {
	font-family: 'Bungee', cursive;
}

#background {
	background: white;
	height: 300px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10px;
}

.innerDiv {
	text-align: center;
}

.productImage {
	height: 200px;
	width: 200px;
}

.hr {
	width: 80%;
	border-color: black;
}

.productName {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}

.productPrice {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 25px;
}

footer {
	border-top: 1px solid black;
	padding: 25px;
	background-color: #23B1D9;
}


